.contact-heading {
  background: linear-gradient(rgba(52, 58, 64, 0.75), rgba(52, 58, 64, 0.75)),
    url("../images/contact.jpg");
  padding: 180px 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  text-align: center;
}

.contact-item {
  text-align: center;
}

.contact-item .contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.contact-item .contact-icon .icon {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 108, 240, 0.05);
  border-radius: 7px;
}

.contact-item .contact-icon .icon svg {
  font-size: 24px;
  color: #396cf0;
}

.contact-item .contact-body h5 {
  font-size: 18px;
  margin-bottom: 16px;
}

.contact-item .contact-body p {
  color: #8492a6;
  font-size: 15px;
}

.contact-item .contact-body h5 {
  color: #396cf0;
  font-size: 15px;
}

.contact-form {
  box-shadow: 0 0 3px rgb(52 58 64 / 15%);
  padding: 24px;
  border-radius: 5px !important;
}

.contact-form h5 {
  font-size: 18px;
}
