.doctor {
  box-shadow: 0 0 3px rgb(52 58 64 / 15%);
  background-clip: border-box;
  border-radius: 6px;
  transition: 0.3s all;
}

.doctor-info {
  padding: 18px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.doctor-info h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 6px;
}

.doctor-info p {
  font-size: 15px;
  margin: 0;
  color: #6c757d;
}

.doctor:hover {
  background: #396cf0;
  color: #fff;
  cursor: pointer;
}

.doctor:hover .doctor-info > p {
  color: #f8f8f8;
}
