.navbar-brand {
  margin-right: 60px;
}

.navbar-brand img {
  width: 150px;
}

.navbar-nav .nav-link {
  display: block;
  color: #343a40;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
  padding: 0 12px;
}

.navbar-light .navbar-nav .h-username {
  color: #215aee;
  cursor: pointer;
}

.navbar-nav .h-logout {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
  color: #343a40;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
}
